<!DOCTYPE html>
<html>
  <head>
    <title>Visit Cork</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://use.fontawesome.com/5b2f0f21f9.js"></script>

  </head>

  <body>
    <div class="container">
      <header>
       
      </header>
     
      {{> nav}}
      {{{body}}}

    </div>

  </body>
</html>