<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Visit Cork</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/">What's On</a></li>
        <li><a href="/">Places To Explore</a></li>
        <li><a href="/">Accomodation</a></li>
        <li><a href="/">Things To Do</a></li>
        <li><a href="/">Get In Touch</a></li>
      </ul>
    </div>
  </div>
</nav>


